<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<% if lookup_context.exists?('missing', ['posts'], true) %>
  <h2>The partial post exists inside the posts folder</h2>
<% else %>
  <h2>Rendereing the default partial</h2>
<% end %>

<form class="w-full max-w-sm" action="/posts" >
  <div class="flex items-center border-b border-teal-500 py-2">
    <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="text to search" name="q" value="<%= params[:q] %>">
    <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="submit">
      Search
    </button>
  </div>
</form>

<div class="table border-collapse table-auto w-full text-sm" data-controller="posts">
  <div class="table-row">
    <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Title</div>
    <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Author</div>
    <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">Body</div>
  </div>

  <%= turbo_stream_from 'posts' %>
  <div id="posts" class="table-row-group">
    <%= render @posts %>
  </div>
</div>

<%== pagy_nav(@pagy) %>